<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>Document</title>
</head>
<body>
<a href="http://localhost:4500/relatorio">Veja os relatórios</a>	

<form name="meu_form">

  <h1>Entre em contato</h1>
	   <label for="Checkin">Checkin</label>
		<input type="date" id="Checkin" name="Checkin" />
	   <label for="Checkout">Checkout</label>
		<input type="date" id="Checkout" name="Checkout" />
	   <label for="nome">Nome do cliente</label>
		<input type="text" id="nome" name="nome" />
	   <label for="cpf">CPF do Cliente</label>
		<input type="text" id="cpf" name="cpf" />
	   <label for="fone">Telefone do Cliente</label>
		<input type="text" id="fone" name="fone" />
	   <label for="numQuarto">Número do quarto</label>
		<input type="text" id="numQuarto" name="numQuarto" />
	   <label for="tipoQuarto">Tipo de quarto</label>
		<input type="text" id="tipoQuarto" name="tipoQuarto" />
	   <label for="valorQuarto">Valor do quarto</label>
		<input type="text" id="valorQuarto" name="valorQuarto" />
	   <label for="statusQuarto">Status Quarto</label>
		<input type="text" id="statusQuarto" name="statusQuarto" />
	   <label for="valorServico">Valor do Serviço</label>
		<input type="text" id="valorServico" name="valorServico" />
	   <label for="dataServico">Data do Serviço</label>
		<input type="date" id="dataServico" name="dataServico" />
		
		<input type="submit" class="enviar" onclick="Enviar();" value="Enviar" />
</form>
	<script>
		function Enviar() {

			var Checkin = document.getElementById("Checkin");
			var Checkout = document.getElementById("Checkout");
			var nome = document.getElementById("nome");
			var cpf = document.getElementById("cpf");
			var fone = document.getElementById("fone");
			var numQuarto = document.getElementById("numQuarto");
			var tipoQuarto = document.getElementById("tipoQuarto");
			var valorQuarto = document.getElementById("valorQuarto");
			var statusQuarto = document.getElementById("statusQuarto");
			var valorServico = document.getElementById("valorServico");
			var dataServico = document.getElementById("dataServico");
	 		var data = {
				"checkin":`${Checkin.value}`,
				"checkout":`${Checkout.value}`,
				"cpf_cliente":`${nome.value}`,
				"nome_cliente":`${cpf.value}`,
				"telefone_cliente":`${fone.value}`,
				"num_quarto":`${numQuarto.value}`,
				"tipo_quarto":`${tipoQuarto.value}`,
				"valor_quarto":`${valorQuarto.value}`,
				"status_quarto":`${statusQuarto.value}`,
				"valor_servico":`${valorServico.value}`,
				"data_servico":`${dataServico.value}`
			}
			var success = alert("Reserva realizada com sucesso!")
			$.ajax({
				type: "POST",
				url: "http://localhost:4500/cadastro-reserva",
				data: data,
				success: success,
				// // dataType: dataType
			})

   
}
	</script>	
</body>
</html>